main{
    max-width: 400px;
    margin: 0 auto;
    height: calc(100vh - 100px);
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: flex-start;
    padding:30px;
    h3{
        color: black;
        font-weight: 800;
        font-size: 28px;
        text-align: left;
    }
    .cards{
        height: 600px;
        width: 100%;
        padding-top: 30px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 80px;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 200px;
            padding: 10px;
            width: 140px;
            border: 2px solid var(--font-secondary);
            border-bottom: 4px solid var(--font-secondary);
            border-radius: 13px;
            img {
                width: 100px;
            }
        }
      
    }
}

.card_selected{
    border: 2px solid #84d7ff;
    border-bottom: 4px solid #84d7ff;
    color: #1cb0f6;
    background: #ddf4ff;
}