<main *ngIf="question">
  <h3>
    {{ question.label }}
  </h3>
  <section class="cards">
    <div
      class="card"
      [ngClass]="{'active-z-index': answered, 'card_selected' : answerSelected && answerSelected.label === item.label }"
      (click)="selectAnswer(item)"
      *ngFor="let item of question.answers"
    >
      <img [src]="item.src" alt="" />
      <p>{{ item.label }}</p>
    </div>
  </section>
</main>

<app-correct-message
  *ngIf="answered && answerSelected.isCorrect"
  (continue)="next($event)"
  [step] = "step"
></app-correct-message>
<app-incorrect-mesage
  *ngIf="answered && !answerSelected.isCorrect"
  (continue)="next($event)"
  [step] = "step"
></app-incorrect-mesage>
